{% extends "base.html" %}

{% block head_title %}
{{ title }}
{% endblock %} 

{% block jumbotron %}
<div class="jumbotron">
  <div class="container">
    <h1>GetWash!!!</h1>
    <p>Get your clothes washed by GetWash!</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Wash Now &raquo;</a></p>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Safe</h2>
      <p>We don't lose clothes!</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Fast</h2>
      <p>We deliver in time!</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Clean</h2>
      <p>Clean as new!</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
{% endblock%}


