{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block jumbotron %}
<div class="jumbotron item-list">
  <div class="row">
    <div class="col-xs-2">
      <button id="basket-button" type="button" class="btn btn-default">basket 
        <span id="amount">0</span>
      </button>

    </div>
  </div>
  <div class="row">
  {% for cloth in clothType %}
    <div class="col-xs-3">
      <img class="product" id="product-{{cloth.0}}"  src="{% static 'img/'%}{{cloth.0}}.jpg">
      <p>{{ cloth.0 }}: {{ cloth.1 }}</p>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="basket-detail">
  <div class='row'>
    <div class='col-xs-2'>
      <button id="basket-ok" type="button" class="btn btn-default">OK</button>
    </div>
    <div class='col-xs-2'>
      <button id='basket-back' type="button" class="btn btn-default">BACK</button>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs-6">
      <table class="table item-table">
        <thead>
          <tr>
            <th>Cloth</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>

        <tbody>
        {% for cloth in clothType %}
            <tr class='item item-{{cloth.0}}'>
              <td>{{ cloth.0 }}</td>
              <td>{{ cloth.1 }}</td>
              <td>
                <button type="button" class="btn btn-default count-add">+</button> 
                <span class="{{cloth.0}}-count">0</span>
                <button type="button" class="btn btn-default count-minus">-</button> 
              </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-2'>
      <p>Sum: <span class='total'>0</span></p>
    </div>
  </div>
</div>

<div class="order-detail">
  <div class='row'>
    <div class='col-xs-2'>
      <label for"addr">Collect Address</label>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-2'>
      <select class="form-control addr">
        {% for addr in addrs %}
          <option value="{{ addr.0 }}">{{addr.1}} {{addr.2}}</option>
        {% endfor %}
      </select>
    </div>
    <div class='col-xs-6'>
      <button type="button" class="btn btn-default" id="order" >Order Now!</button>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-6'>
      <div class="form-group">
        <label for="memo">Memo:</label>
          <textarea class="form-control" rows="5" id="memo"></textarea>
      </div>
    </div>
  </div>
</div>
{% endblock %}
