<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
  <h3>Orders</h3>
    <li class="active"><a href="#">All Orders<span class="sr-only">(current)</span></a></li>
    <li><a href="#">New Orders</a></li>
    <li><a href="#">Delivered Orders</a></li>
    <li><a href="#">Finished Orders</a></li>
  </ul>

  <ul class="nav nav-sidebar">
  <h3>Distributions</h3>
    <li><a href="">Over Schools</a></li>
    <li><a href="">Over Buildings</a></li>
    <li><a href="">Over Clothes</a></li>
  </ul>
</div>